:root {
    --main-font: Apercu, Gill Sans;
}

html {
    font-family: var(--main-font);
    font-size: .80rem;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Lock scroll when menu is open */
body.no-scroll {
    overflow: hidden;
  }  

/* NAVIGATION BAR */
  
  .nav-container {
    border-bottom: .4px solid silver;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
  }
  
  .logo {
    font-weight: 500;
    font-size: 1.2rem;
    font-style: italic;
    
    &.logo a {
        color: inherit;
        text-decoration: none;
    }

  }
  
  /* Hamburger Menu*/
  .hamburger {
    display: none;
    cursor: pointer;
    width: 30px;
    z-index: 11;
  }
  
  .bar {
    height: 3px;
    width: 100%;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  /* Nav menu default (desktop) */
  .nav-menu {
    display: flex;
    text-transform: uppercase;

  &.nav-menu ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &.nav-menu ul li a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
  }

  &.nav-menu ul li a:hover {
    border-bottom: .7px solid black;
    padding-bottom: 5px;
  }
}

#about {
    margin-top: 3.5rem;
    margin-bottom: 3rem;
}

#about-me {
    margin-bottom: 45px;
}

#expertise {
    margin-bottom: 45px;
    font-style: italic;
    letter-spacing: 1px;
 }

#expertise ul {
    list-style: none;
}

#expertise ul li {
    align-items: flex-start;
    padding-bottom: .5em;
}

#expertise ul li svg {
    transition: 1s linear;
}


h2, h3 {
    font-weight: 400;
}

.projects {
    gap: 2rem;
}

#contact {
    line-height: 2rem;
}

.social-icons {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.social-icons li a {
    color: inherit;
    text-decoration: none;
}

/* FOOTER PAGE */

footer {
    background-color: aliceblue;
    bottom: 0;
    height: 2.4rem;
    width: 100%;
    top: 0;
}

#copyright {
    border-top: 0.01px solid silver;
    font-style: italic;
    font-size: 13.5px;
    text-align: center;
}

/* END OF FOOTER PAGE */


/* MEDIA QUERIES */

/* Hide hamburger by default */
@media (max-width: 480px) {
    .hamburger {
      display: block;
    }
  
    .nav-menu {
      display: none;
      position: fixed;
      top: 60px;
      right: -250px;
      width: 200px;
      height: calc(100% - 60px);
      flex-direction: column;
      background-color: transparent;
      padding-top: 20px;
      transition: right 0.3s ease-in-out, background-color 0.3s ease-in-out;
      z-index: 9;
    }
  
    /* When menu is open (active) */
    .nav-menu.active {
      display: block;
      right: 0;
      background-color: #333;
      /* -webkit-backdrop-filter: blur(7px);
      backdrop-filter: blur(7px); */
    }
  
    .nav-menu ul {
      flex-direction: column;
      gap: 0;
    }
  
    .nav-menu ul li {
      padding: 15px 20px;
    }
  }

/* END OF MEDIA QUERIES */